/* Izgara Arkaplan */
.workspace-bg {
    background-color: #f8f9fa;
    background-image: linear-gradient(#e9ecef 1px, transparent 1px), linear-gradient(90deg, #e9ecef 1px, transparent 1px);
    background-size: 20px 20px;
    cursor: crosshair; /* Çizim imleci */
}

/*Selectionbox*/
.selectionbox {
    position: absolute;
    border: 1px dashed #0d6efd;
    background-color: rgba(13, 110, 253, 0.1);
    pointer-events: none; /* Fare olaylarını engelle */
    z-index:9999;
}

/* Genel Eşya Stili */
.draggable-item {
    position: absolute; /* KRİTİK NOKTA */
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none; /* Yazı seçilmesin */
    transition: box-shadow 0.1s;
}

    /* Seçili Olunca */
    .draggable-item.selected {
        border: 2px solid #0d6efd;
        z-index: 100; /* En üste çıksın */
    }

    .draggable-item:active {
        cursor: grabbing;
    }

    /* Tiplere Göre Şekiller */
    .draggable-item.armchair {
        width: 40px;
        height: 40px;
        background-color: #6c757d;
        color: white;
        border-radius: 4px;
    }

    .draggable-item.table {
        background-color: #adb5bd;
        border-radius: 50%; /* Yuvarlak */
    }

    .draggable-item.rectangletable {
        background-color: #adb5bd;
        border-radius: 8px;
    }

    .draggable-item.stage {
        width: 150px;
        height: 80px;
        background-color: #212529;
        color: white;
        font-weight: bold;
    }

.item-label {
    position: absolute;
    bottom: -20px;
    font-size: 10px;
    color: #333;
    white-space: nowrap;
}
